
@{
    ViewData["Title"] = "Doctors";
}

<div class="section">


    <div class="service-expect popout" style="text-align:center; width:100%; max-width:1000px">

        <h1 class="section-window-heading">Meet Our Staff</h1>
        <hr />

        <div style="margin:35px auto;">
            <div style="display:inline-block; width:300px; height:200px">
                <img src="img/IMG_Doc1.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:300px; height:100%; margin:-5px 0">
                <h4>Dr. Dude </h4>
                <p>
                    Dr. Dude got his degree from Duke University. He has over 30 years experience
                    working in medicine, and is beloved by all his patients.
                </p>
                <p style="font-style:italic">
                    "This job isn't just about the medicine, but about the people." -Dr.Dude
                </p>
            </div>

        </div>
        <div style="margin:35px auto; width:75%">
            <div style="display:inline-block; width:300px; height:180px">
                <img src="img/IMG_Doc2.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:300px; height:100%; margin:5px 0">
                <h4>Dr. Dude Jr.</h4>
                <p>
                    Son of Dr. Dude, Dude Jr. got his degree from Columbia University. He has over 10 years experience
                    working in medicine.
                </p>
                <p style="font-style:italic">
                    "I know the importance of the patient/doctor relationship. I learned from the best!" -Dr.Dude Jr.
                </p>
            </div>
        </div>
        <div style="margin:35px auto; width:75%">
            <div style="display:inline-block; width:300px; height:180px">
                <img src="img/IMG_Doc3.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:300px; height:100%; margin:15px 0;">
                <h4>Dr. Dudette</h4>
                <p>
                    Dr. Dudette graduated from Northwestern University, and has practiced medicine for over 15 years.
                </p>
                <p style="font-style:italic">
                    "Our patients expect us to be not only professional, but caring. We expect the same!" -Dr.Dudette.
                </p>
            </div>
        </div>
    </div>
</div>

