
@{
    ViewData["Title"] = "Services";
}

<div class="popout section service" style="margin-top:25px">

    <h1 class="section-window-heading">Services We Offer</h1>
    <hr />

    <div>

        <ul>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service One
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service Two
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service Three
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service Four
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service Five
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
            <li class="service-item">
                <i class="fa fa-chevron-right service-icon"></i>Service Six
                <div class="service-description">
                    This is hidden at the start, then opens up to
                    describe the service listed.
                </div>
            </li>
        </ul>
    </div>

    <h1 class="section-window-heading">Looking To Become a New Patient?</h1>
    <hr />

    <div style="padding:10px; width:75%; margin:0 auto">
        <p>
            If you are interested in becoming a patient to our wonderful facility, contant us either <a asp-controller="Home" asp-action="NewAppointment"><strong>here</strong></a>
            or give us a call at (888)888-8888!
        </p>
    </div>

    <h1 class="section-window-heading">What to expect</h1>
    <hr />

    <div class="service-expect">
        <div class="service-expect-container">
            <div style="display:inline-block; width:345px; height:180px; margin:15px 0;">
                <img src="~/img/IMG_receptionist.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:345px; height:100%;">
                <p>
                    As soon as you walk in the door, we will embrace you with a smile and a warm welcome.
                    We will walk you through the check in process, either with new patient paperwork for our new arrivals,
                    to our normal patient check-in process.
                </p>
            </div>

        </div>
        <div class="service-expect-container">
            <div style="display:inline-block; width:345px; height:180px; margin:15px 0;">
                <img src="~/img/IMG_DocWithPatient.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:345px; height:100%; margin:15px 0;">
                <p>
                    Our Doctors will fully communicate with you in order to find a solution to any medical
                    issues that are bothering you, as well as informing you about preventative care.
                </p>
            </div>
        </div>
        <div class="service-expect-container">
            <div style="display:inline-block; width:345px; height:180px; margin:15px 0;">
                <img src="~/img/IMG_DocWithPhone.jpg" />
            </div>
            <div style="display:inline-block; vertical-align:top; width:345px; height:100%; margin:15px 0;">
                <p>
                    Our care doesn't end after you leave our facility. We are available to answer your questions
                    or offer information when you need it. Contact us <a asp-controller="Home" asp-action="Contact"><strong>Here</strong></a>
                     or give us a call at (888)888-8888!
                </p>
            </div>
        </div>
    </div>
</div>

