@page "/patient/{PatientId:int}/history/note/{NoteId}"
@using Abarnathy.BlazorClient.Client.Models

<div class="container">

    @if (OperationStatus == APIOperationStatus.GET_Pending)
    {
        <div class="row d-flex h-100 justify-content-center align-content-center">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
            <br/>
            <small class="text-muted">Loading...</small>
        </div>
    }

    @if (OperationStatus == APIOperationStatus.GET_Success)
    {
        if (NoteModel != null)
        {
            <div class="row d-flex flex-column justify-content-center align-content-center">
                
                <h2 class="mt-4 text-center">@NoteModel.Title</h2>
                
                <small class="text-muted mt-4">
                    <span class="mr-4">
                        <strong>Note created: </strong>@NoteModel.TimeCreated.ToString("dd/MM/yyyy")
                    </span>
                    <span>
                        <strong>Note last Updated: </strong>@NoteModel.TimeLastUpdated.ToString("dd/MM/yyyy")
                    </span>
                </small>
                <p class="mt-4">@((MarkupString) NoteModel.Content)</p>
            </div>
            
            <div class="row d-flex d-row justify-content-center mb-5">
                <button class="btn btn-secondary btn-sm mr-3" @onclick="NavigateBackToPatient">
                    Patient Overview
                </button>
                <button class="btn btn-primary btn-sm ml-3" @onclick="NavigateToEdit">
                    Edit Note 
                </button>
                <button class="btn btn-warning btn-sm ml-3" @onclick="NavigateToAuditLog">
                    Audit Log
                </button>
            </div>
        }
        else
        {
            <div class="row d-flex h-100 justify-content-center align-content-center">
                <i class="fas fa-exclamation fas-3x text-danger"></i>
                <br/>
                <p>No note that matches the supplied ID was found.</p>
            </div>
        }
    }

    @if (OperationStatus == APIOperationStatus.GET_Error)
    {
        <div class="row d-flex h-100 justify-content-center align-content-center">
            <i class="fas fa-exclamation fas-3x text-danger"></i>
            <br/>
            <p>There was an error fetching the note.</p>
        </div>
    }

</div>